body {
  font-family: Roboto;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.5rem;
}
.display-1 > .mbr-iconfont {
  font-size: 7.2rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
}
.display-2 > .mbr-iconfont {
  font-size: 5.6rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.04rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.44rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.52rem;
    font-size: calc( 1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 0px;
}
.btn-md {
  padding: 10px 15px;
  border-radius: 0px;
}
.btn-lg {
  padding: 10px 15px;
  border-radius: 0px;
}
.bg-primary {
  background-color: #c19b76 !important;
}
.bg-success {
  background-color: #c19b76 !important;
}
.bg-info {
  background-color: #67a27e !important;
}
.bg-warning {
  background-color: #b7b6b6 !important;
}
.bg-danger {
  background-color: #e26c5a !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #c19b76 !important;
  border-color: #c19b76 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #a17549 !important;
  border-color: #a17549 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a17549 !important;
  border-color: #a17549 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #67a27e !important;
  border-color: #67a27e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #487559 !important;
  border-color: #487559 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #487559 !important;
  border-color: #487559 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #c19b76 !important;
  border-color: #c19b76 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #a17549 !important;
  border-color: #a17549 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #a17549 !important;
  border-color: #a17549 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #918f8f !important;
  border-color: #918f8f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #918f8f !important;
  border-color: #918f8f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #cc3a24 !important;
  border-color: #cc3a24 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none !important;
  border-color: #906841 !important;
  color: #906841 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #c19b76 !important;
  border-color: #c19b76 !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c19b76 !important;
  border-color: #c19b76 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none !important;
  border-color: #3e654d !important;
  color: #3e654d !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #67a27e !important;
  border-color: #67a27e !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #67a27e !important;
  border-color: #67a27e !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none !important;
  border-color: #906841 !important;
  color: #906841 !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #c19b76 !important;
  border-color: #c19b76 !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #c19b76 !important;
  border-color: #c19b76 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none !important;
  border-color: #848383 !important;
  color: #848383 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff !important;
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b7b6b6 !important;
  border-color: #b7b6b6 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none !important;
  border-color: #b63420 !important;
  color: #b63420 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #e26c5a !important;
  border-color: #e26c5a !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #c19b76 !important;
}
.text-secondary {
  color: #333333 !important;
}
.text-success {
  color: #c19b76 !important;
}
.text-info {
  color: #67a27e !important;
}
.text-warning {
  color: #b7b6b6 !important;
}
.text-danger {
  color: #e26c5a !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #906841 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #906841 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3e654d !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #848383 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b63420 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #67a27e;
}
.alert-warning {
  background-color: #b7b6b6;
}
.alert-danger {
  background-color: #e26c5a;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #c19b76;
  border-color: #c19b76;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #c19b76;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e9dbce;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #e9dbce;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b6d2c1;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f6f6f6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.44rem;
}
blockquote {
  border-color: #c19b76;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c19b76;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c19b76;
}
.up-z-index {
  z-index: 1000 !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #c19b76;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #c19b76;
  border-bottom-color: #c19b76;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #c19b76 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #333333 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23c19b76' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-tzmYnLy3Av .nav-item:focus,
.cid-tzmYnLy3Av .nav-link:focus {
  outline: none;
}
.cid-tzmYnLy3Av a.nav-link:focus {
  color: #c19b76 !important;
}
.cid-tzmYnLy3Av .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #ffffff;
}
.cid-tzmYnLy3Av .navbar.opened {
  transition: all 0.3s;
  background: #ffffff !important;
}
.cid-tzmYnLy3Av .navbar .dropdown-item {
  padding: 0.3rem 1.5rem;
}
.cid-tzmYnLy3Av .navbar .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  z-index: 1;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-tzmYnLy3Av .navbar.collapsed {
  flex-direction: row!important;
}
.cid-tzmYnLy3Av .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tzmYnLy3Av .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-tzmYnLy3Av .navbar.collapsed .navbar-collapse {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cid-tzmYnLy3Av .navbar.collapsed .nav-link:hover::before {
  width: 0 !important;
}
.cid-tzmYnLy3Av .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-tzmYnLy3Av .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tzmYnLy3Av .navbar.collapsed .dropdown-menu .dropdown-item {
  border: none !important;
}
.cid-tzmYnLy3Av .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tzmYnLy3Av .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-tzmYnLy3Av .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tzmYnLy3Av .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.15rem 1.5rem;
  text-align: center;
}
.cid-tzmYnLy3Av .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tzmYnLy3Av .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tzmYnLy3Av .navbar .navbar-collapse {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
  .cid-tzmYnLy3Av .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-tzmYnLy3Av .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tzmYnLy3Av .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tzmYnLy3Av .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-tzmYnLy3Av .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-tzmYnLy3Av .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tzmYnLy3Av .navbar .dropdown-menu .dropdown-item {
    padding: 0.15rem 1.5rem;
    text-align: center;
  }
  .cid-tzmYnLy3Av .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    word-break: break-word;
  }
  .cid-tzmYnLy3Av .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-tzmYnLy3Av .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-tzmYnLy3Av .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-tzmYnLy3Av .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-tzmYnLy3Av .navbar-brand {
  display: flex;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tzmYnLy3Av .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
}
.cid-tzmYnLy3Av .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: normal;
}
.cid-tzmYnLy3Av .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tzmYnLy3Av .navbar-brand .navbar-logo a img {
  width: auto;
}
.cid-tzmYnLy3Av .dropdown-item.active,
.cid-tzmYnLy3Av .dropdown-item:active {
  background-color: transparent;
}
.cid-tzmYnLy3Av .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tzmYnLy3Av .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tzmYnLy3Av .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tzmYnLy3Av .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: transparent;
}
.cid-tzmYnLy3Av .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
  top: 30%;
}
.cid-tzmYnLy3Av .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tzmYnLy3Av ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-tzmYnLy3Av .navbar-buttons {
  text-align: center;
}
.cid-tzmYnLy3Av button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tzmYnLy3Av button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #3f855b;
}
.cid-tzmYnLy3Av button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tzmYnLy3Av button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tzmYnLy3Av button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tzmYnLy3Av button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tzmYnLy3Av nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tzmYnLy3Av nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tzmYnLy3Av nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tzmYnLy3Av nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tzmYnLy3Av .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-tzmYnLy3Av a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: relative;
}
.cid-tzmYnLy3Av .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tzmYnLy3Av .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
}
.cid-tzmYnLy3Av .icons-menu span {
  font-size: 20px;
  color: #333333;
}
.cid-tzmYnLy3Av .nav-link:hover,
.cid-tzmYnLy3Av .icons-menu .mbr-iconfont:hover {
  color: #c19b76 !important;
}
.cid-tzmYnLy3Av .dropdown-item:hover {
  color: #c19b76 !important;
}
.cid-tzmYnLy3Av .nav-item .nav-link::before {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -0.5rem;
  width: 0;
  left: -1rem;
  background: #c19b76;
  transition: width 0.3s ease-in;
}
.cid-tzmYnLy3Av .dropdown-menu {
  padding: 0;
  transition: top 0.3s;
}
.cid-tzmYnLy3Av .nav-item .nav-link {
  letter-spacing: 1px;
}
@media (min-width: 992px) {
  .cid-tzmYnLy3Av .navbar-expand-lg {
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .cid-tzmYnLy3Av .nav-link:hover::before {
    width: calc(100% + 2rem);
  }
  .cid-tzmYnLy3Av .dropdown-menu {
    top: 100%;
  }
  .cid-tzmYnLy3Av .dropdown-item {
    border-bottom: 1px solid #a3a3a3;
    box-shadow: 0px 2px 5px #efefef;
    background: #efefef !important;
  }
  .cid-tzmYnLy3Av .dropdown-item:hover {
    background: #d6d6d6 !important;
  }
  .cid-tzmYnLy3Av .nav-item.open .nav-link::before {
    left: calc(1.667em - 1rem);
    bottom: 0.538px;
    width: calc(100% - 3.334em + 2rem);
  }
  .cid-tzmYnLy3Av .navbar-short .dropdown-menu {
    top: 100%;
  }
}
.cid-tzmXTx6BQO {
  background-image: url("../../../assets/images/villa-mosaico-122-2000x1333.jpg");
}
.cid-tzmXTx6BQO .mbr-arrow {
  background: #709faf !important;
  opacity: 0.7;
}
.cid-tzmXTx6BQO .mbr-arrow i {
  color: #ffffff !important;
}
.cid-tzmXTx6BQO .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-tzmXTx6BQO .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzmXTx6BQO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tzmXTx6BQO .mbr-section-title {
  text-align: center;
}
.cid-tzofhBYO5F {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tzofhBYO5F .counter-container ul {
  margin: 0;
  list-style: none;
  padding-left: 2.5rem;
}
.cid-tzofhBYO5F .counter-container ul li {
  margin-bottom: 2rem;
  list-style: none;
  position: relative;
  padding-left: 1rem;
}
.cid-tzofhBYO5F .counter-container ul li:before {
  position: absolute;
  top: -8px;
  left: -40px;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
  background-color: #e8f5e3;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 5px;
  content: "✓";
}
.cid-tzofhBYO5F .mbr-section-title {
  text-align: center;
  color: #a2784f;
}
.cid-tzofhBYO5F .mbr-text {
  color: #3d5943;
}
.cid-tzmXVePe03 {
  background-color: #3f855b;
}
.cid-tzmXVePe03 .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-tzmXVePe03 .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-tzmXVePe03 .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-tzmXVePe03 .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 1200px) {
  .cid-tzmXVePe03 .image-element {
    padding-left: 0;
  }
}
.cid-tzmXVePe03 .text-element {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 2rem;
}
.cid-tzmXVePe03 .mbr-text {
  color: #878787;
  line-height: 27px;
}
.cid-tzmXVePe03 .brown {
  color: #c19b76;
}
.cid-tzmXVePe03 .paragraphs-wrapper {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-tzmXVePe03 .paragraphs-wrapper .first-paragraph,
.cid-tzmXVePe03 .paragraphs-wrapper .second-paragraph {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-tzmXVePe03 .image-element {
    padding-top: 1rem;
  }
  .cid-tzmXVePe03 .paragraphs-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-tzmXVePe03 .paragraphs-wrapper .first-paragraph,
  .cid-tzmXVePe03 .paragraphs-wrapper .second-paragraph {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .cid-tzmXVePe03 .first-paragraph,
  .cid-tzmXVePe03 .second-paragraph {
    width: 50%;
  }
  .cid-tzmXVePe03 .first-paragraph {
    padding-right: 0.5rem;
  }
  .cid-tzmXVePe03 .second-paragraph {
    padding-left: 0.5rem;
  }
  .cid-tzmXVePe03 .text-element {
    padding: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-tzmXVePe03 .mbr-section-title,
  .cid-tzmXVePe03 .mbr-section-btn {
    text-align: left;
  }
}
.cid-tzmXVePe03 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tzmXVePe03 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tzmXVePe03 .mbr-text,
.cid-tzmXVePe03 .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-tznHR2EnvB {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/villa-mosaico-176-2000x1333.jpg");
}
.cid-tznHR2EnvB .team-card .image-wrap {
  overflow: hidden;
}
.cid-tznHR2EnvB .team-card .image-wrap img {
  transition: all 0.5s;
}
.cid-tznHR2EnvB .team-card .image-wrap:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-tznHR2EnvB .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-tznHR2EnvB .team-card {
  margin-bottom: 2rem;
}
.cid-tznHR2EnvB .card-wrap {
  background: #ffffff;
}
.cid-tznHR2EnvB .card-wrap .image-wrap img {
  width: 100%;
}
.cid-tznHR2EnvB .card-wrap .content-wrap {
  padding: 1.5rem;
}
.cid-tznHR2EnvB .card-wrap .content-wrap .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tznHR2EnvB .card-wrap .content-wrap .mbr-section-btn .btn {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-tznHR2EnvB .team-card.last-card {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tznHR2EnvB .team-card.last-row-card {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .cid-tznHR2EnvB .team-card:not(.first-row-card) {
    margin-bottom: 0;
  }
}
.cid-tznHR2EnvB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tznHR2EnvB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tznHR2EnvB .main-title {
  color: #3f855b;
}
.cid-tztwP7HzS7 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-tztwP7HzS7 .line {
  background-color: #c19b76;
  color: #c19b76;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-tztwP7HzS7 .mbr-text {
  margin: 0;
}
@media (max-width: 768px) {
  .cid-tztwP7HzS7 .inner-container {
    width: 100% !important;
    padding: 0 15px;
  }
}
.cid-tzn2U2Qb1m {
  padding-top: 5rem;
  padding-bottom: 8rem;
  background: #ffffff;
}
.cid-tzn2U2Qb1m .mbr-section-head {
  padding: 0 1rem;
}
.cid-tzn2U2Qb1m .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-tzn2U2Qb1m .team-card:hover {
  transform: translateY(-10px);
}
.cid-tzn2U2Qb1m .card-wrap {
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-tzn2U2Qb1m .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-tzn2U2Qb1m .card-wrap .image-wrap img {
  width: 100%;
}
@media (min-width: 768px) {
  .cid-tzn2U2Qb1m .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tzn2U2Qb1m .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-tzn2U2Qb1m .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 50%;
  max-width: 40%;
}
@media (max-width: 768px) {
  .cid-tzn2U2Qb1m .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
}
.cid-tzn2U2Qb1m .embla__button--next,
.cid-tzn2U2Qb1m .embla__button--prev {
  display: flex;
}
.cid-tzn2U2Qb1m .embla__button {
  top: -13%;
  width: 38px;
  height: 38px;
  margin-top: -1.5rem;
  font-size: 14px;
  background-color: transparent;
  color: #c19b76;
  border: 2px solid #c19b76;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tzn2U2Qb1m .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tzn2U2Qb1m .embla__button:hover {
  background: transparent;
  opacity: .7;
}
.cid-tzn2U2Qb1m .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tzn2U2Qb1m .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 992px) {
  .cid-tzn2U2Qb1m .embla__button {
    top: -10%;
  }
}
.cid-tzn2U2Qb1m .embla {
  position: relative;
  width: 100%;
  margin-top: 52px;
  z-index: 1;
}
@media (max-width: 992px) {
  .cid-tzn2U2Qb1m .embla {
    margin-top: 80px;
  }
}
.cid-tzn2U2Qb1m .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tzn2U2Qb1m .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tzn2U2Qb1m .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tzn2U2Qb1m .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tzn2U2Qb1m .mbr-section-subtitle {
  margin-bottom: 27px;
  letter-spacing: 0.13em;
  color: #67a27e;
  text-align: center;
}
.cid-tzn2U2Qb1m .mbr-section-title {
  margin-bottom: 16px;
  color: #ffffff;
  text-align: center;
}
.cid-tzn2U2Qb1m .mbr-text {
  margin: 0;
  color: #92bda3;
  text-align: center;
}
.cid-tzn2U2Qb1m .mbr-text ul {
  list-style-position: inside;
  display: flex;
  justify-content: center;
  padding: 0;
}
@media (max-width: 992px) {
  .cid-tzn2U2Qb1m .mbr-text ul {
    display: block;
  }
}
.cid-tzn2U2Qb1m .mbr-text ul li {
  padding: 0 3rem;
}
@media (max-width: 992px) {
  .cid-tzn2U2Qb1m .mbr-text ul li {
    margin-top: 10px;
    margin-left: 0;
  }
}
.cid-tzn2U2Qb1m .mbr-text ul li::marker {
  color: #c19b76;
  font-size: 18px;
}
.cid-tzn2U2Qb1m .item-wrapper {
  height: 100%;
}
.cid-tzn2U2Qb1m .item-wrapper .image-wrap {
  height: 100%;
}
.cid-tzn2U2Qb1m .item-wrapper .image-wrap img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-tzn2U2Qb1m .item-wrapper .image-wrap img {
    height: 320px;
  }
}
.cid-tzn4jcMsbV {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #3d5943;
}
.cid-tzn4jcMsbV .mbr-overlay {
  background-color: #c19b76;
  opacity: 0;
}
.cid-tzn4jcMsbV input,
.cid-tzn4jcMsbV textarea {
  opacity: 0.7;
  border-radius: 10px;
}
.cid-tzn4jcMsbV input:hover,
.cid-tzn4jcMsbV textarea:hover {
  border-color: transparent!important;
}
.cid-tzn4jcMsbV .btn {
  border-radius: 2rem;
  padding: 1rem 3rem;
  width: -webkit-fill-available;
}
.cid-tzn4jcMsbV h4 {
  margin-bottom: 3rem;
}
.cid-tzn4jcMsbV .col-auto {
  width: 100%;
}
.cid-tzn4jcMsbV textarea {
  min-height: 250px;
}
.cid-tzn4jcMsbV .mbr-form {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.6) 100%);
  backdrop-filter: blur(3.5px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 7rem 3rem;
  margin: 0;
  overflow: visible;
  position: relative;
  justify-content: center;
}
@media (max-width: 767px) {
  .cid-tzn4jcMsbV .mbr-form {
    padding: 2rem 1rem;
  }
}
.cid-tzn4jcMsbV .mbr-form:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  height: 100%;
  width: 100%;
  border: 2px solid white;
  border-radius: 30px;
  pointer-events: none;
}
.cid-tzn4jcMsbV H4 {
  text-align: center;
  color: #3d5943;
}
.cid-tzthXNGtxS {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-tzthXNGtxS .google-map {
  height: 25rem;
  position: relative;
}
.cid-tzthXNGtxS .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tzthXNGtxS .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tzthXNGtxS .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tzthXNGtxS .google-map[data-state='loading'] [data-state-details] {
  display: none;
}
.cid-tzthXNGtxS .container-fluid {
  padding: 0;
}
.cid-tzthXNGtxS .relative {
  position: relative;
  width: 100%;
}
.cid-tzthXNGtxS .mbr-section-title {
  color: #656565;
}
.cid-tzthXNGtxS .block {
  background: rgba(50, 50, 50, 0.8);
  position: absolute;
  padding: 2rem;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  width: 400px;
  height: 100%;
  top: 0;
  right: 0;
}
.cid-tzthXNGtxS .line {
  height: 3px;
  width: 60px;
  background: #67a27e;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.cid-tzthXNGtxS .title {
  text-align: center;
  color: #ffffff;
}
.cid-tzthXNGtxS .text {
  text-align: center;
  color: #ffffff;
  line-height: 1.5;
}
@media (max-width: 576px) {
  .cid-tzthXNGtxS .block {
    position: relative;
    width: 100%;
    height: auto;
    padding: 6rem 2rem;
  }
}
